body {
	margin: 0;
	padding: 0;
	background: #FFFFEE;
	font-size: 12px;
}

#mainDiv{
	width: 100%;
	height: 100%;
}

#loveHeart {
	width:335px;
	height:312px;
	position: relative;
    margin: 0 auto;
}

#garden {
	width: 100%;
	height: 100%;
}

#elapseClock {
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#words {
	font-family: "sans-serif";
	font-size: 12px;
	color:#666;
	position: absolute;
	top: 80px;
    left: 40px;
}

#messages{
	position: relative;
	display: none;
}

#elapseClock .digit{
	font-family: "digit";
	font-size: 18px;
}

#loveu{
	padding: 5px;
	font-size: 12px;
	    margin-top: 10px;    margin-right: 62px;
	text-align: right;
	display: none;
}

#loveu .signature{
	font-size: 10px;
	font-style: italic;
}

#clickSound{
	display:none;
}

#code {
	width: 100%;
	height: 400px;
	color: #333;
	font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", "sans-serif";
	font-size: 12px;
}

#code .string{
	color: #2a36ff;
}

#code .keyword{
	color: #7f0055;
	font-weight:bold;
}

#code .placeholder{
	margin-left:15px;
}

#code .space{
	margin-left:7px;
}

#code .comments{
	color: #3f7f5f;
}

#copyright{
	margin-top: 10px;
	text-align: center;
	width:100%;
	color:#666;
}

#errorMsg{
	width: 100%;
	text-align: center;
	font-size: 11px;
	position: absolute;
	top: 100px;
	left:0px;
}

#copyright a{
	color:#666;
}